doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title All the posts
    link(rel="stylesheet", href="/static/css/main.css")

  body
    .wrapper
      h1 Neural Nets in Python

      //- Display information about posts that flask detects
      p Here are the posts: 
      if posts
        ul
          each post in posts
            li
              a(href= "/posts/"+post.url) #{post.title}
      else
        p Uh oh! No posts found
